[submodule "user-service"]
	path = user-service
	url = git@github.com:AidarKhaibulov/user-service.git
[submodule "order-service"]
	path = order-service
	url = git@github.com:AidarKhaibulov/order-service.git
[submodule "item-service"]
	path = item-service
	url = git@github.com:AidarKhaibulov/item-service.git
